body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
}

label,
input,
select,
textarea,
p {
  font-family: "Karla";
}

input,
select,
option,
textarea {
  background-color: #eeeeee;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 0.2rem;
  resize: none;
  margin-top: 0.2rem;
}

input,
select {
  width: 10rem;
}

.imgHeader {
  position: relative;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
}

menu {
  list-style: none;
  display: grid;
}

button {
  background-color: white;
  border: none;
}

.burger-icon {
  margin-top: 1.5rem;
}

a:visited,
Link:visited,
a:link,
Link:link {
  text-decoration: none;
  color: black;
}

/* Reservation */

.reservation-form {
  padding: 2rem 0 0.5rem 0;
}

.reservation-form select {
  width: 170px;
}

@media (max-width: 480px) {
  .reservation-form select {
    width: 260px;
  }
  .reservation-form input {
    width: 250px;
  }
}

.first-row,
.second-row {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
}

.form-comment {
  margin-top: 1rem;
  text-align: center;
}

.form-comment textarea {
  max-width: 340px;
}

@media (max-width: 480px) {
  .form-comment textarea {
    max-width: 80%;
  }
}

.reservation-form div div {
  margin: 10px;
}
